doctype html
html
	include header
	body
		.container(style="width:1280px")
			| Welcome, #{user.local.username}
			a.btn.btn-default.btn-xs(href="/logout") Logout
			br
			#chatbox.well(style="width:200px; height:600px; float:left; overflow-y:auto; overflow-x:hidden")
				<b>Chat</b>
				br
				br
			#gamecanvas(style="width:800px; height:600px; float:left")
			#users.well(style="width:200px; height:600px; overflow-y:auto; overflow-x:hidden")
				<b>Participants</b>
			form#sendmessageform(style="width:200px; float:left")
				.input-group
					input.form-control#messagebox(autocomplete="off", placeholder="Chat here...")
					.input-group-btn
						button.btn.btn-primary(type="submit") Send
			#waiters.well(style="width:200px; height:200px; float:left")
				<b>Drivers</b>
			button#joingamebutton.btn.btn-primary Join / Leave list
			br
			| Race starts in 
			label#seconds

		script(src="http://code.jquery.com/jquery-latest.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/phaser.min.js")
		script(src="/Hud.js")
		script(src="/Car.js")
		script(src="/Map.js")
		script(src="/Init.js")
		script(src="/Main.js")
		script(src="/game.js")
		script(type='text/javascript').
			//var socket = io.connect();
			var socket = io.connect('ws://racing-tiko.rhcloud.com:8000/');
			window.onload = function() {
				var game = new Phaser.Game(800, 600, Phaser.AUTO, "gamecanvas");
				game.state.add('Init', Racing.Init);
				game.state.add('Main', Racing.Main);
				game.state.add('Game', Racing.Game);
				game.state.start('Init');
				
				socket.on('launchgame', function(pl) {
					//launchGame(playerList, '#{user.local.username}');
					game.state.states['Game'].playerList = pl;
					game.state.states['Game'].playerName = '#{user.local.username}';
					game.state.start('Game');
				});
			};
		
			jQuery(function($) {
				
				//var socket = io.connect('ws://racing-jturunen.rhcloud.com:8000/');
				var $sendMessageForm = $('#sendmessageform');
				var $messageBox = $('#messagebox');
				var $chatBox = $('#chatbox');
				var $users = $('#users');
				var $waiters = $('#waiters');
				var $joingamebutton = $('#joingamebutton');
				
				socket.emit('new user', '#{user.local.username}');
				
				$("#joingamebutton").click(function() {
					socket.emit('new waiter', '#{user.local.username}');
				});
				
				
				
				socket.on('usernames', function(data) {
					var html = '<b>Participants</b><br/><br/>';
					for(i=0; i<data.length; i++) {
						html += data[i] + '<br/>';
					}
					$users.html(html);
				});
				
				socket.on('waiternames', function(data) {
					var html = '<b>Drivers</b><br/><br/>';
					for(i=0; i<data.length; i++) {
						html += data[i] + '<br/>';
					}
					$waiters.html(html);
				});
				
				socket.on('counter', function(data) {
					$("#seconds").html(data);
				});

				$sendMessageForm.submit(function(e) {
					e.preventDefault();
					if ($messageBox.val().trim() != '')
						// send message to server
						socket.emit('send message', '<b>#{user.local.username}</b>' + ": " + $messageBox.val());
					$messageBox.val('');
				});
				
				// when message received from the server, show it in the chatbox
				socket.on('new message', function(data) {
					$chatBox.append(data + "<br/>");
					//$chatBox.append(data.nick + ": " + data.msg);
					$("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);
				});
			});
